<h1>Listado de profesores</h1>
<div class="row mt-1 mb-1">
    <div class="col">
<button class="btn btn-primary btn-sm" (click)="new()">Crear profesor</button>
</div>
</div>
<table class="table table-striped table-bordered">
    <div class="row">
        <div class="col">
        </div>
    </div>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Aciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let profesor of listProfesores">
            <th>{{profesor.id}}</th>
            <th>{{profesor.nombre}}</th>
            <th>{{profesor.apellido}}</th>
            <th>{{profesor.especialidad.nombre}}</th>
            <th>
                <button class="btn btn-warning btn-sm" (click)="edit(profesor.id)">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="delete(profesor.id)">Eliminar</button>
            </th>
        </tr>
    </tbody>
</table>
<div>
<div class="col-lg-6">
</div>
</div>
